.carousel {
    overflow: hidden;
    max-width: 1200px;
    position: relative;
}

.carousel .carousel_item,
.carousel .carousel_item--hidden {
    display: none;
}

.carousel .carousel_item img {
    width: 100%;
    max-width: 200px;
    height: 200px;
}

.carousel .carousel_item--visible {
    display: block;
}

/*Carousel Buttons*/
.carousel .carousel_actions {
    /* allows buttons to keep even space between */
    display: flex;
    width: 100%; 
    justify-content: space-between;
    /*Now can move the buttons after making position absolute*/
    position: absolute;
    top: 50%;
    /* to get buttons directly in the middle since above doesn't count for size */
    transform: translateY(-50%);
}

.carousel .carousel_actions button {
    border-radius: 3px;
    border: 0;
}

.carousel .carousel_actions button#carousel_button_prev {
    margin-left: 20px;
}

.carousel .carousel_actions button#carousel_button_next {
    margin-right: 20px;
}