.carousel {
    overflow: hidden;
    max-width: 780px;
    position: relative;
}

/*Keeps images in place - testing/not sure correct way*/
.carousel .image_carousel {
    display: flex;
}

.carousel .carousel_item,
.carousel .carousel_item--hidden {
    display: none;
}

.carousel .carousel_item img {
    max-width: 200px;
    min-width: 200px;
    height: 200px;
    /*Also testing to get images to center between buttons*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.carousel .carousel_item--visible {
    float: left; 
    display: block; 
    padding-left: 30px; 
    padding-right: 30px;
}

/*Carousel Buttons*/
.carousel .carousel_actions {
    /* allows buttons to keep even space between */
    display: flex;
    width: 100%; 
    justify-content: space-between;
    /*Now can move the buttons after making position absolute*/
    position: absolute;
    top: 50%;
    /* to get buttons directly in the middle since above doesn't count for size */
    transform: translateY(-50%);
}

.carousel .carousel_actions button {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
}

.carousel .carousel_actions button#carousel_button_prev {
    margin-left: 20px;
}

.carousel .carousel_actions button#carousel_button_next {
    margin-right: 20px;
}