/* Adding background color*/
body {
    background-color: #EAE1DF;
}

/* Menu Color */
.menubar {
    background: #1b1b19;
    overflow: visible;
    height: 86px;
    left: 0px;
    top: 0px;
}

/*Language Text*/
.menubar #language-drop {
    display: block;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400; 
    color: #FFFFFF;
    /*FIXME - For some reason, this affects the whole menu*/
    margin-top: -3px;
  
}

/*FIX ME - */
/* #language-drop:hover {
    color: #47856F;
} */

.menuright #dropdown-items {
    color:#2B2C28;
}

/*Right Menu List Format*/
.menuright #nav-right {
   list-style: none;
   margin: 0;
   padding: 0;
   
}
.menuright #nav-right li {
    float: right;
    margin-top: -47px;

}

/*Right Menu Items Link Texts*/
.menuright #nav-right li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400; 
    color: #FFFFFF;
}

/*Right Menu Hover Color*/
#nav-right li a:hover {
    color: #47856F;
}

/*Order Here Button*/
.menuright button {
    border-style: none;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 16px;
    margin-right: 20px;
    padding: 0px;
    background: #A10702;
    text-align: center;    

}

/*El Cabrtito Logo*/
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 15px;
}

#homecarousel {
    margin-top: 15px;
    
}
#homecarousel img {
     /*Note - change images height and width to 1440x538 so it spreads better*/  
    aspect-ratio: auto 16/9;
}

.column {
    width: 100%;
    background: #47856F;
}

.column #header {
    font-family: Edo;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Lunch Special SLider*/
/*Background color for Current Specials*/
.product-slider {
    background: #47856F;
}


.slider {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

/*Heading Text - Current Specials*/
.current-specials {
    padding: 30px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    /* margin-bottom: 10px; */
    font-family: Edo;
    color: #EAE1DF;
    opacity: 95%;  
    text-shadow: 7px 7px 15px #1b1b19; 
}

/*Controls Flex of Slider, Padding, & Scrolling*/
.product-container {
    padding: 0 10vw 10vw;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/*Only works for Chrome, Opera, Safari, Firefox, iOS device browsers and a few others */
.product-container::-webkit-scrollbar {
    display: none;
}


/*--Card containing Item's Info below Image--*/
.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 15px #393939;
}

.product-image {
    position: relative;
    /* width: 100%; */
    width: 250px;
    height: 200px;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.product-thumb {
    width:100%;
    height: 100%;
    object-fit: cover;
}

/*If using special tag on top, uncomment tag in html*/
.special-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: black;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.product-info {
    padding-left: 5px;
}

/*--Order Now Button over Image--*/
.card-btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    font-family: Arial;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #1b1b19;
    color: #fff;
}


/*--Product's Info Within Card--*/
.product-info {
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

.product-name {
    text-transform: uppercase;
    font-family: Arial;
    margin-top: 5px;
}

.product-short-desc {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

/*Current Price to Show*/
.special-price {
    font-weight: 900;
    font-size: 20px;
}

/*Orginal Price to Cross Out*/
.org-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}


/*--Current Specials' Navigation Buttons--*/
.pre-btn, 
.nxt-btn {
    border: none;
    width: 5vw;
    height: 5vw;
    position: absolute;
    margin-top: 10%;
    /* top: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff
    100%);
    cursor: pointer;
    z-index: 9;
}

/*Buttons' Location*/
.pre-btn {
    left: 0;
}

.nxt-btn {
    right: 0;
}

/*Buttons' Icon Image*/
.pre-btn img,
.nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;
}


/*--Collection Styling--*/
.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate((-50%, -50%));
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

/*Controls how many to scroll by*/
.collection:nth-child(3) {
    grid-column: span 1;
    margin-bottom: 10px;
}


/*--Contact Section--*/
.footer {
    padding: 10px;
}

#footer-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contact-heading, .hours-heading, 
.location-heading {
    color: #1b1b19;
    font-size: 24px;
}

.contact p, .hours p, 
.location p {
    color: #1b1b19;
    font-size: 12px;
    margin: 0;
}

.contact, .hours, 
.location {
    margin-top: 50px;
    margin-bottom: 50px;
} 

/*Change font size with @ media*/
